body {
	background-color:#CCC;
	color:#000;
	font-family:Helvetica, Arial, FreeSans, sans-serif;
	font-size:100%;
	font-weight:100;
	margin:9px;
	max-width:2048px;
	min-width:800px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    padding: 30px;
}